<!DOCTYPE html>

<html lang="fr" data-th-fragment="frag_layout(content, title)">
<head>
    <meta charset="UTF-8">
    <!--  la balise sera remplacée par le contenu de title -->
    <title data-th-replace="${title}"></title>

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="icon" type="image/x-icon" href="/images/logo-256.png">
</head>

<body class="master">

<header>
                <div class="logo-container">
                    <a href="/">
                        <img src="/images/logo.png" alt="alt-logo" class="logo">
                    </a>
                    <a href="/"> <h1 class="logo_text"><strong>ENI</strong><em>ENCHERES</em></h1></a>
                </div>
    <nav>
        <ul>
            <li>
            </li>
            <li><a class="accueil" href="/">Accueil</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/encheres/add">Ajout</a></li>
            <li><a class="nav-link" href="/encheres">Enchères</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/profil">Profil</a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/inscription">S'inscrire</a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/login">Se Connecter</a></li>

            <!--  copie/colle du dernier TP barbie de Julian -->
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form id="deconnexion_form" th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" id="deconnexion">Déconnexion</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy;D2WM LTS</p>
</footer>
</body>
</html>