<!DOCTYPE html>

<html lang="fr" data-th-fragment="frag_layout(content)">
<head>
    <meta charset="UTF-8">
    <!--  la balise sera remplacée par le contenu de title -->
    <title>EniEncheres</title>

    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>

<body class="master">

<header>
    <h1 id="nav-title" /> <a href="/">Eni Enchères </a> </h1>
    <nav>
        <ul>

            <li><a href="/">Accueil</a></li>
            <li><a href="/inscription">S'inscrire</a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/login">Se Connecter</a></li>



            <li th:if="${#authorization.expression('hasRole(''UTILISATEUR'')')}">
                <a class="nav-link" href="/encheres">Enchères</a>
            </li>


            <!--  copie/colle du dernier TP barbie de Julian -->
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" class="nav-link">Déconnexion</button>
                </form>
            </li>
        </ul>

    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy;D2WM LTS</p>
</footer>
</body>
</html>