<!DOCTYPE html>

<html lang="fr" data-th-fragment="frag_layout(content, title)">
<head>
    <meta charset="UTF-8">
    <!--  la balise sera remplacée par le contenu de title -->
    <title data-th-replace="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/general.css}">
</head>

<body class="master">

<header>
    <!-- <h1 id="nav-title" > <a href="/">Eni Enchères </a> </h1>-->
    <div class="logo-container">
        <a href="/">
            <img src="/images/logo.png" alt="alt-logo" class="logo">
        </a>
        <a class="logo_text"><strong>ENI</strong><em>ENCHERES</em></a>
    </div>


    <!--<nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/encheres">Enchères</a></li>
        </ul>
    </nav>-->
    <nav>
        <ul>
            <li>
                <form id="search_input" th:action="@{/encheres/search}" method="get">
                    <input type="search" name="q" placeholder="Recherche">
                    <label>
                        <input id="byCategorie" type="checkbox" name="byCategorie" checked>Par catégorie
                    </label>
                    <label>
                        <input id="byDescription" type="checkbox" name="byDescription" checked>Par description
                    </label>
                    <button class="btn" type="submit">Recherche</button>
                </form>
            </li>
            <li><a href="/">Accueil</a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/inscription">S'inscrire</a></li>
            <li th:if="${!#authorization.expression('isAuthenticated()')}"><a href="/login">Se Connecter</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/encheres/add">Ajout</a></li>
            <li>
                <a class="nav-link" href="/encheres">Enchères</a>
            </li>

            <!--  copie/colle du dernier TP barbie de Julian -->
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <form id="deco_form" th:action="@{/logout}" method="post">
                    <input type="hidden" name="_csrf" value="${_csrf.token}">
                    <button type="submit" id="deco">Déconnexion</button>
                </form>
            </li>
        </ul>

    </nav>
</header>

<main data-th-replace="${content}"></main>

<footer>
    <p>&copy;D2WM LTS</p>
</footer>
</body>
</html>