<!DOCTYPE html>

<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">
<title>Index</title>
<main>
    <div th:replace="~{layout/search :: search-container}"></div>


    <div class="accueil">
        <h2 class="grandTitre">ENI ENCHÈRES</h2>
    </div>
    <section class="articles">
        <article class="fiche" th:each="item : ${categories}">
            <div>

                <div class="image">
                    <img th:src="@{'/images/' + ${item?.image_categorie}}" th:alt="${item?.libelle}">
                </div>

<!--                <img src="/images/ballonKilyan.jpg" alt="Image article">-->
                <div class="infos">
                    <h3 th:text="${item.libelle}">Catégorie</h3>
                </div>
                <a class="btn"
                   th:href="@{/encheres/search(categorie=${item.libelle})}">
                    Voir enchères
                </a>
            </div>
        </article>
    </section>
</main>
</html>