<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}" xmlns:sec="http://www.w3.org/1999/xhtml">
<title>Nos Enchères</title>


<main>
    <div th:replace="~{layout/search :: search-container}"></div>
    <h2>Nos Enchères</h2>
    <section class="articles">
        <article class="fiche" th:each="item : ${articleLst}">
            <div class="image">
                <img th:src="@{'/images/' + ${item?.image_lien}}" th:alt="${item?.description}">
            </div>
            <div class="infos">
                <h3 th:text="${item.nom_article}">Nom article</h3>

                <p class="categorie" th:text="${item.categorie?.libelle}">Catégorie</p>
                <p> Fin de l’enchère :<strong th:text="${item.date_fin_enchere}"> date</strong></p>
                <p>Prix de base : <strong th:text="${item.prix_de_base}"></strong> points </p>
                <p>

                <a class="vendeur" th:href="@{/{username}(username=${item.vendeur?.pseudo})}"
                   th:text="${item.vendeur?.pseudo}">Vendeur</a>
                </p>
                <a class="btn"
                   th:href="${#authorization.expression('isAuthenticated()')} ?
                            @{/encheres/details_vente(id=${item.id_article})} :
                            @{/login}"
                >
                Voir détails
                </a>
            </div>
        </article>
    </section>


</main>


</html>


