<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">

<main>
    <h2>Liste des Articles Enchères</h2>
<table>
    <thead>
    <tr>
    <th>Article</th>
    <th>Categorie</th>
    <th>Date debut enchère</th>
    <th>Date de fin de enchère</th>
    <th>Prix de base</th>
        <th>Détails</th>
    </tr>
    </thead>

    <body>
    <tr data-th-each="item : ${articleLst}">
        <td data-th-text="${item.nom_article}">
        <td data-th-text="${item.categorie?.libelle}">
        <td data-th-text="${item.date_debut_enchere}">
        <td data-th-text="${item.date_fin_enchere}">
        <td data-th-text="${item.prix_de_base}">
        <td><a th:href="@{/encheres/details_vente}">Details de Vente</a></td>
  </body>


</table>




</main>


</html>


