<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">

<title>Se connecter</title>
<main>
    <h2>Se connecter</h2>

    <form th:action="@{/login}"
          method="post">

        <ul class="flex-outer">
            <li>
                <label for="idUsername">Identifiant</label>
                <input id="idUsername" type="text" name="username">
            </li>
            <li>
                <label for="idPassword">Mot de passe</label>
                <input id="idPassword" type="password" name="password">
            </li>
            <li>
                <button type="submit">Se Connecter</button>
            </li>
        </ul>
    </form>

</main>


</html>