<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">

<!--  tire passé en paramètre -->
<title>Inscription</title>

<main class="container">
    <h2>Page d'inscription</h2>
    <form method="POST" th:action="@{/inscription}" th:object="${utilisateur}">
        <ul class="flex-outer">
            <li>
                <label for="pseudo">Pseudo*</label>
                <input type="text" th:field="*{pseudo}" name="pseudo" id="pseudo"
                       pattern="[a-zA-Z0-9]+" title="Que des chiffres et des lettres" autofocus required>
                <span class="error" th:if="${#fields.hasErrors('pseudo')}" th:errors="*{pseudo}"></span>
                <div class="error" th:text="${notUniqueMessage}"></div>

            </li>
            <li>
                <label for="nom">Nom</label>
                <input type="text" th:field="*{nom}" name="nom" id="nom"
                       pattern="[a-zA-Z]+" title="Que des lettres">
                <span class="error" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>

            </li>
            <li>
                <label for="prenom">Prenom</label>
                <input type="text" th:field="*{prenom}" name="prenom" id="prenom"
                       pattern="[a-zA-Z]+" title="Que des lettres">

                <span class="error" th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
            </li>
            <li>
                <label for="email">Email*</label>
                <input type="email" th:field="*{email}" name="email" id="email" required>

                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </li>
            <li>
                <label for="password">Password*</label>
                <input type="password" th:field="*{password}" name="password" id="password" required>

                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </li>
            <li>
                <label for="telephone">Telephone</label>
                <input type="text" th:field="*{telephone}" name="telephone" id="telephone"
                    pattern="^\+?[0-9. ()-]{7,}$" title="Entrez un numero valide">

                <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
            </li>
            <li>
                <label for="adresse">Adresse</label>
                <input type="text" th:field="*{adresse}" name="adresse" id="adresse"
                       pattern="[a-z A-Z0-9]+" title="Que des lettres chiffres et espaces">

                <span class="error" th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"></span>
            </li>
            <li>
                <label for="code_postal">Code_Postal</label>
                <input type="text" th:field="*{code_postal}" name="code_postal" id="code_postal"
                       pattern="^[0-9]{5}$" title="Que 5 chiffres">

                <span class="error" th:if="${#fields.hasErrors('code_postal')}" th:errors="*{code_postal}"></span>
            </li>
            <li>
                <label for="ville">Ville</label>
                <input type="text" th:field="*{ville}" name="ville" id="ville"
                       pattern="[a-z A-Z]+" title="Que des lettres ou espaces">

                <span class="error" th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}"></span>
            </li>
            <li>
                <button type="submit">S'inscrire</button>
            </li>

            <!--- <li class="information">* = obligatoire</li>--->
            <li class="information">* = obligatoire / Maj + Tab pour retourner au champ précédent</li>
        </ul>

        <p>Vous avez déjà un compte <a href="/inscription">S'inscrire</a></p>
    </form>
</main>