<!DOCTYPE html>
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">
<title>Détails de l'article</title>


<main>
    <form th:action="@{/encheres/update}"
          th:object="${article}"
          method="POST">
        <ul class="flex-outer">
            <input type="text" th:field="*{id_article}" hidden/>
            <input type="text" th:field="*{image_lien}" hidden/>
            <input type="text" th:field="*{prix_de_base}" hidden/>
            <li>
                <label for="nom_article">nom_article</label>
                <input type="text" name="nom_article" id="nom_article" th:value="*{nom_article}">
            </li>
            <li>
                <label for="description">description</label>
                <textarea type="text" name="description" id="description" th:text="*{description}"></textarea>
            </li>
            <li>
                <label for="date_fin_enchere">date_fin_enchere</label>
                <input type="date"
                       name="date_fin_enchere" id="date_fin_enchere" th:value="*{date_fin_enchere}">
            </li>
            <li>
                <label for="categorie">Categorie</label>
                <select id="categorie" name="categorie">
                    <option th:each="item : ${categoriesList}"
                            th:text="${item.libelle}"
                            th:value="${item.id_categorie}"
                            th:selected="${item.id_categorie == selectedCategory}"
                    >
                    </option>
                </select>
            </li>
            <li>
                <button type="submit">Update Article</button>
                <!-- <button th:if="${utilisateurConnect.id_utilisateur = item.vendeur.id_utilisateur}" type="submit">Update Article</button> -->
           </li>
       </ul>
    </form>

        <!--  <fieldset th:unless="${utilisateurConnect.id_utilisateur == item.vendeur.id_utilisateur}" class="fieldset"> -->
        <fieldset class="fieldset">
            <legend>Ma proposition :</legend>
            <form th:action="@{/encheres/acheter}" method="POST" th:object="${enchere}">
                <input type="text" th:name="id_article" th:value="${article.id_article}" hidden>
                <label for="montant_enchere">Eni Points :</label>
                <input type="number" name="montant_enchere"
                       id="montant_enchere" min="0" max="1000"
                       th:value="${article.prix_de_base != null ? article.prix_de_base : 0}">
                <button type="submit">Enchérir</button>
            </form>
        </fieldset>
</main>
</html>