<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">
<!--  tire passé en paramètre -->
<title>Détails de l'article</title>


<main>
    <form th:action="@{/encheres/update}"
          th:object="${article}"
          method="post">
        <ul class="flex-outer">
            <li>
                <label for="nom_article">nom_article</label>
                <input type="text" name="nom_article" id="nom_article" th:value="*{nom_article}">
            </li>
<!--            TODO : Ajouter les autres champs de article-->
            <li>
                <label for="idCategory">Categorie</label>
                <select id="idCategory" th:field="*{categorie}">
                    <option th:each="item : ${categoriesList}"
                            th:text="${item.libelle}"
                            th:value="${item.id_categorie}"
                            th:selected="${item.id_categorie == selectedCategoryId}">

                    </option>
                </select>
            </li>
            <li>
                <button type="submit">Update Article</button>
            </li>
        </ul>
    </form>
</main>
</html>