<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html lang="fr" data-th-replace="~{layout/layout :: frag_layout
						(title= ~{:: title},
						content= ~{::main} )}">
<!--  tire passé en paramètre -->
<title>Détails de l'article</title>


<main>
    <form th:action="@{/encheres/update}"
    th:object="${article}"
    method="post">
        <ul class="flex-outer">
            <li>
                <label for="nom_article">nom_article</label>
                <input type="text" name="nom_article" id="nom_article" th:value="${article.nom_article}">
            </li>
            <li>
                <button type="submit">Update Article</button>
            </li>
        </ul>
    </form>
</main>
</html>